@font-face {
  font-family: "star_jedi";
  src: url("./assets/star_jedi/starjedi/Starjedi.ttf");
}

@font-face {
  font-family: "radjhani";
  src: url("./assets/Rajdhani/Rajdhani-Medium.ttf");
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display :flex;
  flex-direction: column;
  background-image: url(./assets/imagefrise/fond-papier-grunge.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*header*/
header {
  background-image: url(./assets/time-travel-2910934_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

header h1 {
  font-family: "star_jedi";
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(66, 24, 24, 0.79);
  padding: 150px;
  text-shadow: #FC0 1px 0 10px;
}


/* caroussel*/
button {
  font-family: "star_jedi";
  font-size: 1rem;
}

.container {
  overflow: hidden;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 5;
  
}

.carousel {
position: relative;
 
}

.carousel-inner {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
}

.slide {
  flex: 0 0 calc(100%/3);
  height: 100%;
  transition: 0.5s ease-in-out;
}

.slide button {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px; 
  
}

#next {
    cursor: pointer;
    border:none;
    position: absolute;
    z-index: 5;
    width: 90px;
    height: 40px;
    top: 12px;
    width: 90px;
    height: 40px;
    top: 12px;
    right: 12px;
    background-repeat: no-repeat;
    background: rgb(0, 0, 0, 0%);
    background-image: url(./assets/arrow/arrow_nav.png);
    background-image: url(./assets/arrow/arrow_nav.png);
    background-size: cover;
}

#prev {
    cursor: pointer;
    border:none;
    position: absolute;
    z-index: 5;
    width: 90px;
    height: 40px;
    width: 90px;
    height: 40px;
    top: 18px;
    left: 12px;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background: rgb(0, 0, 0, 0%);
    background-image: url(./assets/arrow/arrow_nav.png);
    background-size: cover;
    background-image: url(./assets/arrow/arrow_nav.png);
    background-size: cover;
}

/* case des nav*/
#prehistoire{background: linear-gradient(73deg, rgba(240,120,0,1) 0%, rgba(227,156,27,1) 100%);
}
#prehistoire:hover{background: linear-gradient(73deg, rgba(240,120,70,1) 0%, rgba(227,156,97,1) 100%)}

#bronze{ background: linear-gradient(73deg, rgba(227,156,27,1) 0%, rgba(224,179,29,1) 100%);}
#bronze:hover{ background: linear-gradient(73deg, rgba(227,156,97,1) 0%, rgba(224,179,99,1) 100%);}

#fer{ background: linear-gradient(73deg, rgba(224,179,29,1) 0%, rgba(224,194,94,1) 100%);}
#fer:hover{ background: linear-gradient(73deg, rgba(224,179,99,1) 0%, rgba(224,194,164,1) 100%);}

#antique{background: linear-gradient(73deg, rgba(224,194,94,1) 0%, rgba(224,203,29,1) 100%);}
#antique:hover{background: linear-gradient(73deg, rgba(224,194,164,1) 0%, rgba(224,203,99,1) 100%);}

#moyenAge{background: linear-gradient(73deg, rgba(224,203,29,1) 0%, rgba(223,230,37,1) 100%);}
#moyenAge:hover{background: linear-gradient(73deg, rgba(224,203,99,1) 0%, rgba(223,230,107,1) 100%);}

#moderne{background: linear-gradient(73deg, rgba(223,230,37,1) 0%, rgba(241,242,0,1) 100%);}
#moderne:hover{background: linear-gradient(73deg, rgba(223,230,107,1) 0%, rgba(241,242,70,1) 100%);}

#Futur{ background: linear-gradient(73deg, rgba(241,242,0,1) 0%, rgba(157,255,0,1) 100%);}
#Futur:hover{ background: linear-gradient(73deg, rgba(241,242,70,1) 0%, rgba(157,255,70,1) 100%);}

/*cards*/



.cards {
display: flex;
flex-direction:column;
align-items: end; 
position: -webkit-sticky;
position:sticky;
z-index: 4;
bottom: 180px;
padding-top: 64px;
padding-bottom: -90px;
vertical-align:top;}


.card-container {
background: linear-gradient(90deg, rgba(240,120,0,1) 0%, rgba(239,124,4,1) 10%, rgb(216, 117, 11) 15%, rgba(229,163,43,1) 100%);
padding: 1rem 1rem;
width: 30%;
box-shadow: 0px 0px 1px 1px #000000, inset 0px 0px 1px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
border-radius:  10px 10px 10px 10px;
margin-right: 35px;
margin-top: 35px;
margin-bottom: 35px;
}

.close-button {
  display: flex;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer;
}

.card-img { 
width: 200px;
height: 150px;
border-radius: 0.65rem;
box-shadow: 0px 0px 5px 5px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
margin-bottom: 10px;
margin-left: 20px;
margin-right: 20px;
} 

.cards h2 {
  text-align: center;
  float: left;
  font-family: "star_jedi";
  font-size: 1.5rem;
  color: black;
  width: 50%;
}

.description {
  font-family: "radjhani";
 padding: 1rem;
  font-size: 1rem;
  box-shadow: 5px 5px 5px 0px black, inset 0px 0px 5px 0px black, 0px 0px 0px 0px rgba(0,0,0,0);
  border-radius: 10px;
  font-weight:bolder;
}

.quote {
  font-family: "rajdhani";
  padding: 0.5rem;
  font-size:1.25rem;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
}

/*frise*/

.timeline {
  width: 65%;
  padding-left: 35px;
  padding-top: 35px;
}
.friseImage {
  width: 600px;
  height: 600px;
  box-shadow: 0px 0px 5px 5px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  margin-top:60px;
  margin-right: 40px;
  border-radius: 0.65rem;

}

.friseImage2 {
  display:none;
  width: 100%;
  height: auto;
}


.timeline :nth-child(odd) .friseImage{
  float: right;
  clear: left;
}

.timeline :nth-child(even) .friseImage{
  float: left;
  clear: right;
}

.timeline ul li {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px; 
  width: 40%;
  height: 100%;
  margin-bottom: 50px;
  list-style: none;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 1px 1px #000000, inset 0px 0px 1px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
 
}

.timeline ul li:last-child {
  margin-bottom: 0;
}
  
.timeline ul li:nth-child(odd) {
  border-radius: 0.65rem;
}

.timeline ul li:nth-child(even) {
  border-radius: 0.65rem;
}
 
.timeline h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "star_jedi";
  padding-top: 50px;
  padding-bottom:50px ;
  font-size: 1.5rem;
  color: black;
  width: 50%;
  padding-left: 160px;
  white-space: nowrap;
}

.timeline p  {
    font-family: "radjhani";
    padding: 2rem;
    font-size: 1.25rem;
    font-weight: 400;
    box-shadow: -5px 5px 5px 0px black, inset 0px 0px 5px 0px black, 0px 0px 0px 0px rgba(0,0,0,0);
    border-radius: 10px;
}

/*footer*/
footer {
  font-family: "radjhani";
  background: linear-gradient( 73deg, rgba(240,120,0,1) 0% , rgba(157,255,0,1) 100% );    
  color: black;
  text-align: center;
}




@media screen and (max-width: 320px) {


  header h1 {
    padding: 100px;
  }

  /*carrousel*/
  #next {
    width: 2rem;
    height: 2rem;
    top: 18px;
    right: 2px;
    background-image: url(./assets/arrow/arrow\ right.png);
  }

  #prev {
    width: 2rem;
    height: 2rem;
    top: 18px;
    left: 2px;
    background-image: url(./assets/arrow/arrow\ right.png);
  }

  /*cards*/
  .cards {
  
    z-index: 4;
    position: sticky;
  bottom: -30px;



  }

  .card-container {
    padding: 1rem;
    width: 90%;
   margin-left: 20px;
   margin-right: 20px;
  }

  .cards h2 {
    text-align: center;
    font-size: 1.2rem;
    width: 50%;
    margin-top: 40px;
  }

  .card-img { 
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 25px;
  }

  .description {
  
    font-size: 1rem;
  }
.quote{font-size: 1rem;}
  /*Frise*/
  .timeline {
    width: 100%;
  }

  .friseImage {
    width: 100%;
    display: none;
  }

  .friseImage2 {
    display: block;
    width: 100%;
    height: auto;
  }



  .timeline ul li {
    width: 90%;
    width: 90%;
  }



  .timeline h2 {
    width: 100%;
    padding-left: 0;
    font-size: 1.7rem;}

  }